<div class="card">
    <div class="card-body" *ngIf="movie">
        <span class="badge" style="background-color: red;">ID :</span> {{movie.id}}
        <span class="badge" style="background-color: red;">NAME :</span> {{movie.name}}

        <div class="input-group">
            <input type="text" [(ngModel)]="movie.name" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" style="background-color: red;">Update</button>
            </div>
        </div>
    </div>
</div>