
<div class="card">
    <div class="card head">
        <h1 class="h1">
            {{getTitle()}}
        </h1>
    </div>

    <movie-detail [movie]="selectedMovie"></movie-detail>

    <ul class="list-group list-group-flush">
        <li *ngFor="let movie of movies" (click)="onSelect(movie)" class="list-group-item" [class.active]="movie==selectedMovie">
            <p><span class="badge badge-primary" style="background-color:aquamarine;">{{movie.id}}</span> {{movie.name}}</p>
        </li>
    </ul>

</div>

