<div class="card my-2" *ngFor="let movie of movies">
    <div class="row">
        <div class="col-3">
            <img src="assets/img/{{ movie.imageURL }}" class="card-img">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h4 class="card-title">
                    {{movie.name}}
                </h4>
                <p class="badge" style="background-color: red;">IMDB: {{movie.imdb}}</p>
                
                <div style="margin-left: 5px;">
                    <h6>
                        Eleştirmen Yorumu :
                    </h6>
                    <p>
                        "{{movie.description}}"
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>